html, body, *{

/* margin: 30 ; */
box-sizing: border-box;
font-size: 62.5%;
}

body{
    position:absolute;
    background-image: url(Wood-wow.jpg);
    background-repeat:unset;
    background-size: 100rem;
    transform: rotate(90);
}

#heading{
    margin: 30;
    color: white;
    font-size: 10rem;
    text-align: center;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
}

.parent{
    font-size: 60;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 300px;  
}

.child{
    padding: 10;
    box-sizing: border-box;
    margin: 30;
    width: 20rem;
    height: 30rem;
    border-radius: 50px;
    border-radius: 50px;
    border-radius: 40px;
    border-radius: 29px;
    border-radius: 29px;
    background: #dedede;
    box-shadow:  7px 7px 8px #bdbdbd,
             -7px -7px 8px #ffffff;
      perspective: 1000;


}

.front-face{
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
.face-back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
  }

.



.child1{
border-color: rgb(0, 255, 204);
}

.child2{
    border-color: rgb(255, 0, 0);
}

.child3{
    border-color: rgb(38, 255, 0);
}